[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Songbird
GenericName=Songbird
Comment=Play and organize your music collection
Exec=/opt/automatix/Songbird/Songbird
Terminal=false
Type=Application
Icon=/opt/automatix/Songbird/chrome/icons/default/default.xpm
Categories=Application;AudioVideo;
GenericName[en_US]=Songbird
